<img class="background" src="/GOBOARD.jpg" alt="go board"/>
<link rel="stylesheet" type="text/css" href="/style.css">
<form action="/logout?_method=DELETE" method="POST">
    <button class="but" type="submit">Log Out</button>
  </form>
<a class="a" href="/go-board-final-project/MENU/選單.html">進入選單</a>
<h1>Hi <%= name %></h1>
