.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
img {
    width: 100%;
     
}
h1{
    text-align: center;
    border:20px;
    padding: 10px;
    background-color: aqua;
}
.but{
    position: absolute;
    top: 20%;
    left: 46%;
    padding:15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px; 
    background-color: #b87708; 
    color: white; 
}
.a {
    display: inline-block;
    color: aliceblue;
    position: fixed;
    top: 30%;
    right: 47%;
    font-size: 20px;
    padding: 15px 32px;
    background-color: #007BFF;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}