<img class="background" src="/GOBOARD.jpg" alt="go board"/>
<link rel="stylesheet" type="text/css" href="/style.css">
<script src="script.js"></script>
<div id="goboard" class="background"></div>
<div id="goboard1" class="background"></div>
<h1>Hi <%= name %></h1>
<a href="https://www.instagram.com/kevin_go_0103/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==" target="_blank">
    <img src="instagram-icon.png" alt="Instagram" class="social-icon instagram">
</a>
<p id="welcome">01157035 蔡惠宇</p>
<p id="welcome">01157007 邱顯成</p>
<a href="https://www.facebook.com/profile.php?id=100009899467259" target="_blank" >
    <img src="facebook-icon.png" alt="Facebook" class="social-icon facebook">
</a>
<form action="/logout?_method=DELETE" method="POST">
    <button class="but" type="submit">Log Out</button>
  </form>

<a class="a" href="/go-board-final-project/MENU/選單.html">進入選單</a>
